---
import { Image } from "astro:assets";
import { Card } from "./ui/card";
import { Badge } from "./ui/badge";
import type { Blog } from "@/services/blogs";
import { formatDate } from "@/lib/utils";

interface Props {
  content: Blog;
}

const { content } = Astro.props;
---

<Card className="rounded-sm">
  <article>
    <a href={`/blog/${content.id}`} class="flex gap-3 p-4 hover:opacity-50">
      <div class="grow">
        <p class="text-sm text-muted-foreground">
          {formatDate(content.publishedAt)}
        </p>
        <h2 class="mb-3 mt-1 text-xl font-semibold">
          {content.title}
        </h2>
        <div class="space-x-2">
          {
            content.categories.map((category) => (
              <Badge variant="secondary" className="font-normal">
                {category.name}
              </Badge>
            ))
          }
        </div>
      </div>
      <Image
        src={content.eyecatch?.url || "/img/no-image-tmb.png"}
        height={content.eyecatch?.height || "700"}
        width={content.eyecatch?.width || "483"}
        alt={content.title}
        class="hidden aspect-video h-auto w-[160px] rounded-sm object-cover md:block"
      />
    </a>
  </article>
</Card>
