---
import { Image } from "astro:assets";
import { Card } from "./ui/card";
import { Badge } from "./ui/badge";
import type { Blog } from "@/services/blogs";
import { formatDate } from "@/lib/utils";

interface Props {
  content: Blog;
}

const { content } = Astro.props;
---

<Card className="rounded-sm">
  <article>
    <a
      href={`/blog/${content.id}`}
      class="flex gap-4 p-3 hover:opacity-50 md:p-4"
    >
      <div class="grow">
        <p class="text-sm text-muted-foreground">
          {formatDate(content.publishedAt)}
        </p>
        <h2 class="text-md mt-1 font-semibold md:text-xl">
          {content.title}
        </h2>
        {
          content.categories.length > 0 && (
            <div class="mt-3 flex flex-wrap gap-2">
              {content.categories.map((category) => (
                <Badge variant="secondary" className="font-normal">
                  # {category.name}
                </Badge>
              ))}
            </div>
          )
        }
      </div>
      <div class="hidden shrink-0 md:block">
        <Image
          transition:name={content.id}
          src={content.eyecatch?.url || "/img/no-image-tmb.png"}
          height={content.eyecatch?.height || "700"}
          width={content.eyecatch?.width || "483"}
          alt={content.title}
          class="aspect-video h-auto w-[100px] rounded-sm object-cover md:w-[160px]"
        />
      </div>
    </a>
  </article>
</Card>
