---
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import '@/styles/index.css';
import Header from '@/components/Header.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  isHome?: boolean;
}

const { title, isHome = false } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- OGP -->
    <meta
      name="og:title"
      content={isHome ? SITE_TITLE : `${title} | ${SITE_TITLE}`}
    />
    <meta name="og:description" content={SITE_DESCRIPTION} />
    <meta name="og:image" content="" />
    <!-- <meta name="og:url" content="" /> -->
    <meta name="og:site_name" content={SITE_TITLE} />
    <meta name="og:locale" content="ja_JP" />
    <meta name="og:type" content="blog" />
    <title>{isHome ? SITE_TITLE : `${title} | ${SITE_TITLE}`}</title>
    <ViewTransitions />
  </head>
  <body class="bg-accent">
    <Header isHome={isHome} />
    <main>
      <slot />
    </main>
  </body>
</html>
